---
- name: Install docker and run container
  hosts: webserver
  become: true
  tasks:
    - name: Update apt
      apt:
        update_cache: yes

    - name: Install Docker
      apt:
        name: docker.io
        state: present

    - name: Start and Enable Docker
      systemd:
          name: docker
          state: started
          enabled: yes

    - name: Docker Image
      docker_image:
          name: ponnasumanth/dev
          source: pull

    - name: Docker Run
      docker_container:
          name: web
          image: ponnasumanth/dev
          state: started
          restart_policy: always
          published_ports:
            - "80:80"
